<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Placement created</h1>
    <h2 class="govuk-heading-m">For <%= @placement.child.full_name %></h2>
  </div>
</div>
