<% content_for(:back_button) do %>
  <%= render GovukComponent::BackLink.new(text: 'Dashboard',href: dashboards_matchmaker_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Placement created</h1>
    <h2 class="govuk-heading-m">For <%= @placement.child.full_name %></h2>
  </div>
</div>
