<p>Welcome to Children Social Care Placement!</p>

<p>If you are part of the Alpha project, please continue.</p>

<%= render GovukComponent::StartNowButton.new(
    text: 'Start',
    href: new_user_session_path)
%>
