<div class="govuk-width-container">

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Review your diary entry</h1>

          <% f.object.answers_by_step.each do |step, answers| %>
            <%= render partial: "diary/steps/review_answers/answer", collection: answers, :locals => { placement_id: params[:placement_id], step: step } %>
          <% end %>

      </div>
    </div>
  </div>
</div>
