<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Children in your care</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <% @placements.each do |placement| %>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-panel govuk-panel--record">
        <div class="govuk-panel__title">
          <h3 class="govuk-heading-l">
            <%= placement.child.first_name %>
          </h3>
        </div>
        <div class="govuk-panel__body">
          <%= govuk_button_to "Create a diary entry",
            placement_diary_step_path(placement_id: placement.id, id: "select_event"),
          method: :get
          %>
          <%= govuk_button_to "View diary entries",
            placement_diary_entries_path(placement_id: placement.id, id: "select_event"),
          method: :get
          %>
        </div>
      </div>
    </div>

  <% end %>
</div>

